$icon-width: 30px;
$icon-height: 30ox;

$background-color: #050505;
$background-color-highlight: #1a1a1a;
$color: white;

$desktop-min-width: 768px;

$menu-height: 60px;
$menu-width: 50px;
$menu-hamburger-width: 3px;
$menu-hamburger-margin: 6px;

$overlay-color: rgba(0,0,0,0.85);