html {
  font-size: 100%;
  box-sizing: border-box;

  background-color: $background-color;
  color: $color;

  font-family: 'Montserrat', sans-serif;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  row-gap: 10px;
  height: 100vh;
}

main {
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(0, 600px) 1fr;
  grid-template-areas: 'left content right';
}

main > div {
  grid-area: content;
}

footer {
  display: grid;
  grid-template-areas: 'empty links copyright';
  place-items: center;
  padding: 10px;

  > .links {
    grid-area: links;
  }

  > .copyright {
    grid-area: copyright;
  }
}

.icon {
  height: $icon-height;
  width: $icon-width;
  filter: invert(1);
}
