nav {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 'logo menu empty';
    place-items: center;

    > div.logo {
        grid-area: logo;

        img {
            width: 100px;
        }
    }

    > div.menu {
        grid-area: menu;
    }
}