.post {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "icons"
        "content"
        "author";
    
    > .icons {
        grid-area: icons;        
        align-self: center;
        justify-self: center;
    }

    > .content {
        grid-area: content;
    }

    > .author {
        grid-area: author;
        justify-self: end;
        font-size: 6pt;
    }
}
