.post {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "icons"
        "content";
    
    > .icons {
        grid-area: icons;        
        align-self: center;
        justify-self: center;
    }

    > .content {
        grid-area: content;
    }
}
