<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assign favPath = site.baseurl | append: "/assets/images/favicon/" %}
        {% assign appleTouchIcon = favPath | append: "apple-touch-icon.png" %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ appleTouchIcon }}">
        {% assign icon3232 = favPath | append: "favicon-32x32.png" %}
        <link rel="icon" type="image/png" sizes="32x32" href="{{ icon3232 }}">
        {% assign icon1616 = favPath | append: "favicon-16x16.png" %}
        <link rel="icon" type="image/png" sizes="16x16" href="{{ icon1616 }}">
        <title>{{ page.title }}</title>
        {% assign styles = site.baseurl | append: "/assets/css/styles.css" %}
        <link rel="stylesheet" href="{{ styles }}">
    </head>
    <body>
        <header>
            <div>
                {% include navigation.html %}
            </div>
        </header>
        <main>
            <div>
                {{ content }}
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
