---
layout: default
---
<div class="post" style="background: linear-gradient(
  rgba(0, 0, 0, 0.8), 
  rgba(0, 0, 0, 0.8)
  ), url('{{ site.baseurl }}/assets/images/{{ page.image }}')">
  <div class="icons">
    {% for type in page.types %}
      {% for img in site.data.images %}
        {% if img.type == type %}
            <img src="{{ site.baseurl }}/assets/images/{{ img.name}}" alt="{{ img.alt }}" class="icon">
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <div class="content">
    {{ content }}  
  </div>
  <div class="author">{{ page.author }}, {{ page.date | date: "%d.%m.%y" }}</div>
</div>